name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Restore
        run: |
          dotnet restore JellyfinJav/JellyfinJav.csproj
          dotnet restore Tests/Tests.csproj

      - name: Build
        run: dotnet build JellyfinJav/JellyfinJav.csproj --configuration Release --no-restore

      - name: Test
        run: dotnet test Tests/Tests.csproj --configuration Release --no-restore --verbosity normal
